@page "/Cargo/cargo"

@using System.Timers
@using BlazorServer.Data
@inject Radzen.DialogService DialogService
@implements IDisposable

@inherits OwningComponentBase<Service.CargoService>

<div class="container">
    <RadzenTemplateForm Data="CargoObj"  TItem="@Data.Cargo" Submit="@((Data.Cargo args)=> {Submit(args);})">

            <RadzenFieldset Text="Cargo">
            <div class="row">
                <div class="col-md-2">
                    <RadzenLabel Text="Cargo: "></RadzenLabel>
                </div>
            <div class="col-md-5">
                <RadzenTextBox @bind-Value="CargoObj.NomeCargo"></RadzenTextBox>
            </div>
                <div class="col-md-5">
                    <RadzenButton ButtonType="Radzen.ButtonType.Submit" Text="Salvar"></RadzenButton>
                </div>
            </div>
            </RadzenFieldset>

    </RadzenTemplateForm>

</div>





@code 
{

    CargoComponentList grid;

    [Parameter]
    public Data.Cargo CargoObj { get; set; }

    [Parameter] public Guid IdCargo { get; set; }

    [CascadingParameter] public MudDialogInstance MudDialog { get; set; }

    public AppDbContext _context;


    protected override async void OnInitialized()
    {
        base.OnInitialized();


        if (IdCargo != Guid.Empty)
        {
            CargoObj = await Service.GetRecordId(IdCargo);
        }
        else
        {
            CargoObj = new Data.Cargo();
        }

    }



    void Submit(Data.Cargo cargo)
    {
        if (cargo !=null)
        {
            if (cargo.NomeCargo != "")
            {
                Service.UpdateCargo(cargo);
                MudDialog.Close();
                //Task.Run(()=> ShowInlineDialog());
            }
        }
    }

    async Task ShowInlineDialog()
    {
     var result = await DialogService.OpenAsync("Registro adicionado com sucesso! ", ds =>
        @<div>
            <p Style="margin-bottom: 1rem">Ok!</p>
            <div class="row">
                <div class="col-md-12">
                    <RadzenButton Text="Ok" Click="() => ds.Close(true)" Style="margin-bottom: 10px; width: 150px" />
                </div>
            </div>
        </div>);
    }

}
