@page "/Ponto/BancoHoras"  

@inject Service.AppData AppData

<div class="container">
    <div class = "row">
        <p></p>
        <BancoHoras />
    </div>
    <br />
        <div class = "row">
          <MudItem xs="12">
              <BancoHorasListView />
          </MudItem>
    </div>
</div>

<MudGrid Justify="Justify.FlexStart">
      <MudItem>
          
      </MudItem>

</MudGrid>



@code 
{
    BancoHoras dropDown;
    BancoHorasListView grid;


    protected override void OnInitialized()
    {
        AppData.OnChange += MyEventHandler;
    }

    private void MyEventHandler()
    {
        Console.WriteLine("AppData foi alterado.");
    }

}