
@*@inject MudDialogProvider MudDialog*@
@inherits OwningComponentBase<Service.ServiceFeriado>

<div>
<MudCard>
    <MudCardContent>
        <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors" Model="@_feriado">
            <MudTextField T="string" @bind-Value="_feriado.Descricao" Label="Descricao" Required="true" RequiredError="Descricao obirgatorio!"/>
            <MudDatePicker @bind-Date="_feriado.DataFeriado" Label="DataFeriado" DateFormat="dd/MM/yyyy" Required="true" RequiredError="Data obrigatorio!"/>
        </MudForm>
    </MudCardContent>
    <MudCardActions>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@Salvar">Salvar</MudButton>
    </MudCardActions>
</MudCard>
</div>



@code 
{
    MudForm form;
    bool success;
    string[] errors = { };

    [Parameter] 
    public Guid FeridoId { get; set; }

    [CascadingParameter]
    public MudDialogInstance MudDialog { get; set; }

    Feriado _feriado = new Feriado();

    protected override void OnInitialized()
    {
        if (FeridoId == Guid.Empty)
        {
            _feriado = new Feriado();
        }
        else
        {
            _feriado = Service.GetFeriadoBuyId(FeridoId);
        }
    }

    void Salvar()
    {
        if (Service.UpdateFeriado(this._feriado))
        {
            MudDialog.Close();
        }
    }
}